            /* Inserta tu codigo aqui */
            
            .ecomunidad {
                width: 35%;
                height: 35%;
            }
            
            a.nav-link {
                font-family: "OpenSans-ExtraBold";
                color: grey;
            }